
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h2>Sistema de aprendices egresados SENA</h2>

<p>
    Ingrese el codigo del articulo a buscar:
    @Html.TextBox("Documento")
</p>
<p>
    <input type="submit" value="Buscar" />
</p>



